:root {
  --forest-green10: rgba(246, 255, 252, 1);
  --forest-green20: rgba(222, 255, 245, 1);
  --forest-green30: rgba(191, 247, 231, 1);
  --forest-green40: rgba(158, 234, 212, 1);
  --forest-green50: rgba(115, 194, 171, 1);
  --forest-green60: rgba(78, 153, 131, 1);
  --forest-green70: rgba(48, 112, 94, 1);
  --forest-green80: rgba(25, 71, 58, 1);
  --yellow-10: rgba(255, 250, 242, 1);
  --yellow-20: rgba(255, 227, 186, 1);
  --yellow-30: rgba(255, 205, 131, 1);
  --yellow-40: rgba(221, 175, 106, 1);
  --yellow-50: rgba(187, 146, 84, 1);
  --yellow-60: rgba(153, 117, 63, 1);
  --yellow-70: rgba(119, 90, 46, 1);
  --yellow-80: rgba(85, 63, 30, 1);
  --salmon-10: rgba(255, 246, 246, 1);
  --salmon-20: rgba(255, 207, 207, 1);
  --salmon-30: rgba(255, 168, 168, 1);
  --salmon-40: rgba(221, 140, 140, 1);
  --salmon-50: rgba(187, 113, 113, 1);
  --salmon-60: rgba(153, 88, 88, 1);
  --salmon-70: rgba(119, 66, 66, 1);
  --salmon-80: rgba(85, 45, 45, 1);
  --title-extra-large-font-family: "AppleGaramond-Regular", Helvetica;
  --title-extra-large-font-weight: 400;
  --title-extra-large-font-size: 140px;
  --title-extra-large-letter-spacing: 0px;
  --title-extra-large-line-height: 100%;
  --title-extra-large-font-style: normal;
  --title-large-font-family: "AppleGaramond-Regular", Helvetica;
  --title-large-font-weight: 400;
  --title-large-font-size: 72px;
  --title-large-letter-spacing: 0px;
  --title-large-line-height: normal;
  --title-large-font-style: normal;
  --title-medium-font-family: "AppleGaramond-Regular", Helvetica;
  --title-medium-font-weight: 400;
  --title-medium-font-size: 52px;
  --title-medium-letter-spacing: 0px;
  --title-medium-line-height: normal;
  --title-medium-font-style: normal;
  --body-extra-large-font-family: "AtkinsonHyperlegible-Regular", Helvetica;
  --body-extra-large-font-weight: 400;
  --body-extra-large-font-size: 32px;
  --body-extra-large-letter-spacing: 0px;
  --body-extra-large-line-height: 160.0000023841858%;
  --body-extra-large-font-style: normal;
  --body-large-font-family: "AtkinsonHyperlegible-Regular", Helvetica;
  --body-large-font-weight: 400;
  --body-large-font-size: 20px;
  --body-large-letter-spacing: 0px;
  --body-large-line-height: 160.0000023841858%;
  --body-large-font-style: normal;
  --body-medium-font-family: "AtkinsonHyperlegible-Regular", Helvetica;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 18px;
  --body-medium-letter-spacing: 0px;
  --body-medium-line-height: 160.0000023841858%;
  --body-medium-font-style: normal;
  --subtitle-large-font-family: "AtkinsonHyperlegible-Regular", Helvetica;
  --subtitle-large-font-weight: 400;
  --subtitle-large-font-size: 32px;
  --subtitle-large-letter-spacing: 0px;
  --subtitle-large-line-height: 160.0000023841858%;
  --subtitle-large-font-style: normal;
  --subtitle-medium-font-family: "AtkinsonHyperlegible-Regular", Helvetica;
  --subtitle-medium-font-weight: 400;
  --subtitle-medium-font-size: 24px;
  --subtitle-medium-letter-spacing: 0px;
  --subtitle-medium-line-height: normal;
  --subtitle-medium-font-style: normal;
}
