/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "SF Pro Rounded-Light";
    src: url("assets/fonts/SF-Pro-Rounded-Light.otf") format("opentype");
}

* {
    font-family: "SF Pro Rounded-Light";
    background-color: #f5f5fa;
}